.first {
    font-style: italic;
    font-weight: bold;
    font-size: 1.25em;
}
aside {
    float: right;
    background-color: lightblue;
    border: 2px solid blue;
    width: 20%;
    right: 0;
}
body article img {
    float: left;
    margin-left: auto;
}
body aside ul li ol li {
    list-style-type: upper-roman;
}
body aside ul li ol ul li {
    list-style-type: square;
}
body aside ul {
    list-style-type: none;
}
#navigation_menu ul {
    list-style-type: none;
}
#navigation_menu ul li {
    float: left;
}
#navigation_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#navigation_menu ul li a.lastitem {
    border-right: none;
}
#navigation_menu ul li a.current {
    color: yellow;
}
body {
    width: 95%;
    margin: 15px auto;
}
article {
    width: 75%;
}